<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Site</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="nav-bar">
      <div class="logo">
        <a href="/"><img src="/images/black_logo.png" alt="black_logo" /></a>
      </div>
      <div class="pages">
        <a href="/home"><p>HOME</p></a>
        <a href="/gallery"><p>GALLERY</p></a>
        <a class="active" href="/about"><p>ABOUT</p></a>
        <a href="/contact"><p>CONTACT</p></a>
      </div>
    </div>
    </div>
  </body>
</html>