<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Site</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="nav-bar">
      <div class="logo">
        <a href="/"><img src="/images/black_logo.png" alt="black_logo" /></a>
      </div>
      <div class="pages">
        <a href="/home"><p>HOME</p></a>
        <a href="/gallery"><p>GALLERY</p></a>
        <a href="/about"><p>ABOUT</p></a>
        <a class="active" href="/contact"><p>CONTACT</p></a>
      </div>
    </div>
    <div class="contact-content">
      <div class="image">
        <img src="/images/P_F92A0886.png" alt="tmp">
      </div>
      <div class="message">
        <h3>Name</h3>
        <input type="text" id="name">
        <h3>Email Address</h3>
        <input type="text" id="email">
        <h3>Subject</h3>
        <input type="text" id="subject">
        <h3>Message</h3>
        <textarea type="text" id="message" rows="20" cols="80"></textarea>
      </div>
    </div>
  </body>
</html>