<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Site</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="nav-bar">
      <div class="logo">
        <a href="/"><img src="/images/black_logo.png" alt="black_logo" /></a>
      </div>
      <div class="pages">
        <a href="/home"><p>HOME</p></a>
        <a class="active" href="/gallery"><p>GALLERY</p></a>
        <a href="/about"><p>ABOUT</p></a>
        <a href="/contact"><p>CONTACT</p></a>
      </div>
    </div>

    <div class="gallery">
      <div class="gallery-item w-4 h-1">
        <div class="image">
          <img src="/images/image1.JPG" alt="image1">
        </div>
      </div>
      <div class="gallery-item w-2">
        <div class="image">
          <img src="/images/image2.JPG" alt="image2">
        </div>
      </div><div class="gallery-item w-3">
        <div class="image">
          <img src="/images/image4.JPG" alt="image4">
        </div>
      </div><div class="gallery-item w-3">
        <div class="image">
          <img src="/images/image3.JPG" alt="image3">
        </div>
      </div><div class="gallery-item w-6">
        <div class="image">
          <img src="/images/image5.JPG" alt="image5">
        </div>
      </div>
    </div>
  </body>
</html>